[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[redirects]]
  from = "https://admin.indigopayapp.com/*"
  to = "/admin/:splat"
  status = 200

[[redirects]]
  from = "https://vendor.indigopayapp.com/*"
  to = "/vendor/:splat"
  status = 200

[[redirects]]
  from = "https://indigopayapp.com/*"
  to = "https://admin.indigopayapp.com/:splat"
  status = 301
  force = true

[[redirects]]
  from = "/"
  to = "https://admin.indigopayapp.com"
  status = 301
  force = true
